.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;  border: 1px solid rgb(17, 27, 19);
}



.navbar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #be0909;
  display: block;
  background-color: rgb(51, 49, 53);
  margin: 10%;
  text-align: left;
  border: 1px solid rgb(88, 6, 6);
  border-radius: 12px;
  
}
  
  .navbar a:hover {
    color: #e91010;
    transform: scale(1.1);
    
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  