.navbar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.4em;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 3.5%;
  text-align: left;
  padding: 0.4em 0.1em 0.1em 2em;
  cursor: pointer;
}
  
  .navbar a:hover {
    transition: 0.3s;
    font-weight: bolder;
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: top;
      display: block;
    }
  }
  
  @media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar a {font-size: 18px;}
  }
  
  .globe{
    width: 100%;
  }

  