.btn-see-country-holidays {
    font-size: larger;
    width: 15em;
}

.btn-see-country-holidays:hover {
    transition: 0.1s;
}

.searchCountry{
    border-radius: 0.3em;
    display: flex;
    margin: 1%;
    justify-content: center;
    padding: 1em;
    padding-right: 1em;
    width: 28.7em;
    transition: 0.1s;
    font-size: larger;
}

.searchCountry:hover {
    transform: scale(1.01);
    transition: 0.1s;
}