path:hover {
    
    fill: #1b4332;
    transition: .6s;   
    stroke: linear-gradiant(to right, #c71e9d, red, orange,green);
    stroke-width: 1.5px; 
    stroke-linejoin: round;
}

path {
    stroke: #050104;
    fill: #52b788;
    border: solid 1px black;
    
}

svg {
    width: 1015px;
    height: 690px;
    border: 2px solid wheat;
    margin-top: 25px;
}

body {
    background-color:#001219;
}

.must {
    display: flex;
    justify-content: end;
    
}
