path:hover {
    transition: 2s;
    fill: #020002;   
    stroke: rgb(151, 3, 3);
    stroke-width: 1.5px; 
    stroke-linejoin: round;
}

path {
    stroke: #02c051;
    fill: #037e5970;
    stroke-width: 1.5px; 
}

svg {
    width: 1015px;
    height: 690px;
    border: 2px solid wheat;
    margin-top: 25px;
}

body {
    background-color:#001219;
}

.flag-end {
    display: flex;
    justify-content: end;
}
