svg {
    width: 1015px; 
    height: 690px;
    margin-left: 2%;
    padding-top: 7em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    border:0.1em solid #fda856;
}

.flag-end {
    position: absolute;
    margin-left: 49%;
    margin-top: 0.2%;
}
