.popup { 
    position: absolute;    
    margin-top: 25px;
    margin-right: 25px;
}

.flag {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.test{
    color: wheat;
}

#countryName{
    font-size: larger;
    margin-bottom: 3%;
}